/* stylesheet.css for index.html */

body {
    margin: 0;
}

main {
    width: 50%;
    margin: 10px auto;
}

#logo-and-message {
    display: flex;
}

#message {
    margin: auto 10px;
}

#yanailab_logo {
    width: 100px;
    margin: 10px;
}

#member-introduction {
    padding: 20px;
}

#member-list {
    list-style: none;
}
