/* stylesheet.css for index.html */

body {
    margin: 0;
    background-color: #d6d6d6;
}

main {
    width: 50%;
    margin: 10px auto;
}

main div {
    padding: 10px;
}

main li {
    list-style: none;
}

#logo-and-labname {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

#labname {
    margin: auto 10px;
}

#yanailab_logo {
    width: 100px;
    margin: 10px;
}

#cmdstanr {
    color: #000;
}
