.box {
  opacity: 0;
}

.FadeUp {
  animation-name: fadeUpAnime;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.delay-time01 {
  animation-delay: 0.2s;
}

.delay-time02 {
  animation-delay: 0.4s;
}

.delay-time03 {
  animation-delay: 0.6s;
}

.delay-time04 {
  animation-delay: 0.8s;
}

.delay-time05 {
  animation-delay: 1s;
}
